legacy-peer-deps=true
enable-pre-post-scripts=true
strict-dep-builds=false
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
